.kic_list {
    border-top: 1px solid #222;
    border-bottom: 1px solid #222;
    font-size: 16px;
    line-height: 1.5;
    &.ty_price {
        font-size: 14px;
        .kic_list_link {
            min-height: 47px;
            box-sizing: border-box;
            flex-wrap: wrap;
            @include mobile {
                padding-left: 0;
                padding-right: 0;
            }
        }
    }

    &_top {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        margin-bottom: 15px;
        @include mobile { 
            margin-bottom: 10px;
        }
        .btn_box {
            flex: 1;
            min-width: 0;
            display: flex;
            justify-content: flex-end;
        }
        .f_btn {
            font-weight: 500;
            max-width: 100%;
            margin-left: 10px;
            padding: 0 10px;
        }
    }
    &_total {
        font-size: 18px;
        line-height: 1.5;
        font-weight: bold;
        span {
            color: $CBrand;
        }
        @include mobile { 
            font-size: 14px;
        }
    }

    &_head {
        display: flex;
        border-bottom: 1px solid #222;
        align-items: center;
        padding: 10px 0;
        font-weight: 500;
        @at-root .kic_list & .col.tit {
            text-align: center;
            display: block;
        }
        @at-root .kic_list & .col.status {
            color: #222;
        }
        @include mobile { 
            display: none;
        }
    }
   
    &_item {
        
        & + & {
            border-top: 1px solid #d9d9d9;
        }
        &.ty_notice {
            background-color: #f6f7fa;
            @include mobile {
                .col.tit {
                    width: calc(100% - 50px);
                }
                .col.num {
                    display: block;
                    width: auto;
                    line-height: 0;
                    margin-right: 5px;
                }
            }
        }
    }
    &_link {
        display: flex;
        
        padding: 10px 0;
        align-items: center;
        @include mobile { 
            padding: 10px;
            flex-wrap: wrap;
        }
    }
    .col {
        text-align: center;
        padding: 0 10px;
        order: 2;
        @include mobile { 
            padding: 0;
        }
        &.tit {
            flex: 1;
            text-align: left;
            display: flex;
            align-items: center;
            line-height: 48px;
            min-width: 0;
            color: #222;
            @include mobile { 
                width: 100%;
                flex: auto;
                box-sizing: border-box;
                padding: 0;
                font-size: 14px;
                line-height: 30px;
                margin-right: 0;
                padding-right: 0;
                
            }
            i[class^="ico_"] {
                margin-left: 6px;
            }
            .txt {
                min-width: 0;
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
                
            }
        }
        &.num {
            width: 50px;
            @include mobile {
                display: none;
            }
        }
        &.chk {
            width: 65px;
            line-height: 1;
            @include mobile {
                width: auto;
                order: 0;
                margin-right: 10px;
                margin-bottom: 2px;
                
            }
        }
        &.prod {
            flex: 1;
            //text-align: left;
            //display: flex;
            align-items: center;
            line-height: 1.7;
            // padding-top: 10px;
            // padding-bottom: 10px;
            min-width: 0;
            color: #222;
            @include mobile { 
                width: 100%;
                flex: auto;
                box-sizing: border-box;
                padding: 0;
                font-size: 14px;
                line-height: 24px;
                margin-right: 0;
                padding-right: 0;
                text-align: left;
                
            }

        }
        &.field {
            flex: 0.8;
            @include mobile { 
                flex: none;
                width: auto;
                padding: 0;
                flex-shrink: 0;
                font-size: 13px;
                margin-bottom: 2px;
                color: #999;
                &::before {
                    content: '[';
                }
                &::after {
                    content: ']';
                }
            }
        }
        &.price {
            width: 100px;
            //text-align: right;
            font-weight: bold;
            @include mobile { 
                width: 100%;
                border-top: 1px dashed $CLine;
                margin-top: 5px;
                padding-top: 5px;
                font-size: 14px;
                //color: #222;  
                text-align: right;
                &::before {
                    content: '₩';
                }
                &.fc_grey2 {
                    display: none;
                    &::before {
                        display: none;
                        
                    }
                }
            }
        }
        &.history {
            flex: 2;
            
            .price_history {
                text-align: left;
            }

            @include mobile {
                width: 100%;
                flex: auto;
               
                margin-top: 5px;
                font-size: 12px;
                color: #666;
                .price_history {
                    text-align: right;
                }
            }
            &_detail {
                display: none;
                // display: flex;
                // justify-content: flex-end;
                
                padding: 15px 20px;
                border-top: 1px dashed #d9d9d9;
                background-color: #f6f7fa;
                &.on {
                    display: block;
                }
                @include mobile {
                    font-size: 12px;
                    padding: 10px;
                }
                .price_history {
        
                    li {
                        position: relative;
                        padding-left: 0.8em;
                        text-align: left;
                        &::before {
                            content:'•';
                            color: #999;
                            left: 0;
                            top: 0;
                            position: absolute;
                        }
                        & + li {
                            margin-top: 4px;
                        }
                    }
                }
            }
        }
        &.model {
            flex: 0.8;
            @include mobile { 
                flex: none;
                &.col_bot::after {
                    display: none;
                }
            }
            
        }
        &.company {
            flex: 1;
            word-break: break-all;
            @include mobile { 
                flex: none;
            }
        }
        &.cate {
            width: 80px;
            @include mobile { 
                width: auto;
                padding: 0;
                flex-shrink: 0;
                font-size: 13px;
                margin-bottom: 2px;
                color: #999;
                &::before {
                    content: '[';
                }
                &::after {
                    content: ']';
                }
            }
        }
        &.date {
            width: 85px;
            flex-shrink: 0;
            @include mobile {
                &.ty_answer {
                    order: 1;
                    margin-top: 0;
                    line-height: 1.5;
                    &::before {
                        content:'';
                        display: inline-block;
                        vertical-align: top;
                        
                        width: 1px;
                        height: 12px;
                        background-color: #d9d9d9;
                        margin: 0 7px;
                        margin-top: 4px;
    
                    }
                }
            }
        }
        &.view {
            width: 70px;
            flex-shrink: 0;
            
        }
        &.status {
            width: 65px;
            flex-shrink: 0;
            color: #999;
            &.on {
                color: blue;
            }
            &.ty_on {
                color: blue;
            }
            &.ty_soon {
                color: hotpink;
            }
            @include mobile { 
                width: auto;
                text-align: left;
                
                font-size: 13px;
                font-weight: bold;
                order: 0;
                margin-bottom: 2px;
            }
        }
        &.order {
            width: 70px;
            @include mobile {
                font-size: 13px;
                width: auto;
                margin-right: auto;
                margin-bottom: 2px;
                order: 0;
                &::before {
                    content:'노출순서 : ';
                    color: #999;
                }
            }
        }
        &.writer {
            width: 150px;
            flex-shrink: 0;
            word-break: break-all;
        }
        &.branch {
            width: 80px;
            flex-shrink: 0;
            @include mobile {
                margin-left: auto;
                font-size: 13px;
                letter-spacing: -0.3px;
                width: auto;
                &::before {
                    content:'지사 : ';
                    color: #999;
                }
            }
        }
        &.q_type {
            width: 90px;
            @include mobile {
                font-size: 13px;
                width: auto;
                letter-spacing: -0.3px;
                &::before {
                    content:'';
                    display: inline-block;
                    vertical-align: top; 
                    width: 1px;
                    height: 12px;
                    background-color: #d9d9d9;
                    margin: 0 7px;
                    margin-top: 4px;

                }
            }
        }
        
        &.col_bot {
            @include mobile { 
                position: relative;
                width: auto;
                font-size: 13px;
                line-height: 1.6;
                color: #666;
                margin-top: 4px;
                & ~ .col_bot {
                    &::before {
                        content:'';
                        display: inline-block;
                        vertical-align: top;
                        
                        width: 1px;
                        height: 12px;
                        background-color: #d9d9d9;
                        margin: 0 7px;
                        margin-top: 4px;
                    }
                }
            }
        }
        .tooltip {
            margin-left: 6px;
        }
    }
    .ico_notice {
        display: inline-block;
        line-height: 30px;
        padding: 0 10px;
        border-radius: 15px;
        background-color: $CBrand;
        color: #fff;
        font-size: 13px;
        font-weight: bold;
        font-style: normal;
        @include mobile {
            padding: 0 5px;
            line-height: 19px;
            font-size: 11px;
            font-weight: 500;
        }
    }
    .ico_attach {
        display: inline-block;
        width: 15px;
        height: 15px;
        flex-shrink: 0;
        background: url(../images/common/ico_file.svg) no-repeat center center;
    }
    .ico_comment{
        display: inline-block;
        flex-shrink: 0;
        padding-left: 18px;
        flex-shrink: 0;
        color: $CBrand;
        font-style: normal;

        background: url(../images/common/ico_comment.svg) no-repeat 0 center;
    }

    &_info {
        display: flex;
        margin-top: 20px;
        @include mobile {
            margin-top: 10px;
        }
        .ico_info {
            width: 30px;
            height: 30px;
            background: url(../images/common/ico_info.svg) no-repeat center center;
            flex-shrink: 0;
            background-size: cover;
            @include mobile {
                width: 22px;
                height: 22px;
            }
        }
        
        .txt {
            align-self: center;
            margin-left: 8px;
            font-size: 16px;
            line-height: 1.6;
            @include mobile {
                margin-left: 6px;
                font-size: 13px;
            }
        }
    }

    
    

    .btn_toggle {
        font-weight: 500;
        display: inline-flex;
        align-items: center;
        //font-size: 16px;
        background-color: #1e90ff;
        color: #fff;
        border-radius: 4px;
        padding: 4px 8px;
        @include mobile {
            margin-top: 5px;
            margin-left: auto;
            font-size: 12px;
        }
        &::after {
            content: '';
            box-sizing: border-box;
            width: 8px;
            height: 8px;
            border-left: 2px solid #fff;
            border-bottom: 2px solid #fff;
            transform: rotate(-45deg);
            margin-top: -3px;
            margin-left: 6px;
            @include mobile {
                width: 6px;
                height: 6px;
                margin-top: -2px;
            }
        }
        &.on {
            &::after {
                transform: rotate(135deg);
                margin-top: 3px;
                @include mobile { 
                    margin-top: 2px;
                }
            }
        }
    }
}


