
.posR {
    position: relative;
}

.right_nav {
    position: absolute;
    left: calc(100% + 60px);
    top: 0;
    white-space: nowrap;
    background-color: #ecf2fa;
    border-radius: 20px;
    border: 1px solid #c5d1e6;
    width: 140px;
    padding: 0 20px;
    box-sizing: border-box;
    
    &_area {
        position: relative;
        top: 140px;
        left: 50%;
        max-width: 1280px;
        width: 100%;
        transform: translateX(-50%);
        z-index: 100;
        @include pcrm {
            max-width: 100%;
            transform: 0;
            .right_nav {
                left: auto;
                right: -15px;
            }
        }
        @media (max-width: 1580px) {
            display: none;
        }
        &.on {
            position: fixed;
        }
    }
    &_item {
        padding: 20px 0;
        text-align: center;
        font-size: 12px;
        color: #1f2085;
        font-weight: bold;
        & + & {
            border-top: 1px solid #c5d1e6;
        }
        a {
            display: block;
        }
        i {
            display: block;
            height: 40px;
            background-repeat: no-repeat;
            background-position: center center;
            margin-bottom: 10px;
            &.ico_fm1 {
                background-image: url(../images/common/ico_fm1.svg);
            }
            &.ico_fm2 {
                background-image: url(../images/common/ico_fm2.svg);
            }
            &.ico_fm3 {
                background-image: url(../images/common/ico_fm3.svg);
            }
        }
        .num_list {
            text-align: left;
            li {
                font-weight: normal;
                b {
                    font-weight: bold;
                }
            }
        }

    }
}

.sub_visual {
    height: 500px;
    position: sticky;
    left: 0;
    top: 0;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    display: flex;
    align-items: center;
    z-index: -1;
    .txt_box {
        width: 100%;
        text-align: center;
        color: #fff;
        .tit {
            font-size: 60px;
            line-height: 1.2;
            font-weight: bold;
        }
        .desc {
            font-size: 20px;
            line-height: 1.5;
            margin-top: 1em;
        }
    }
    &.sub_cs {
        background-image: url(../images/sub/sub_visual_cs.jpg);
    }

    @include mobile { 
        height: 240px;
        .txt_box {
            
            .tit {
                font-size: 24px;
                line-height: 1.2;
                font-weight: bold;
            }
            .desc {
                font-size: 14px;
                line-height: 1.5;
                margin-top: 0.6em;
            }
        }
    }
}
.sub_nav {
    border-bottom: 1px solid #d9d9d9;
    background-color: #fff;
    text-align: center;
    position: relative;
    z-index: 100;
    overflow-x: auto;
    @include mobile { 
        overflow-x: visible;
    }
    &_list {
        display: inline-flex;
        align-items: center;
        
        @include mobile { 
            display: none;
            border-bottom: 1px solid #d9d9d9;
            border-top: 1px solid #d9d9d9;
            position: absolute;
            left: 0;
            top: 50px;
            width: 100%;
            background-color: #fff;
            z-index: -1;
            box-shadow: 5px 5px 10px rgba(#000,.2);
            user-select: none;
            @at-root .sub_nav.on & {
                display: block;
            }
        }
    }
    &_item {
        flex-shrink: 0;
        a {
            display: block;
            font-size: 18px;
            line-height: 80px;
            color: #222;
            opacity: 0.6;
            padding: 0 35px;
            font-weight: normal;
            @include mobile { 
                line-height: 40px;
                font-size: 14px;
                padding: 0 15px;
            }
        }
        &.on {
            a {
                opacity: 1;
                font-weight: bold;
            }
            @include mobile { 
                display: none;
            }
        }
    }
    &_toggle {
        display: none;
        @include mobile { 
            display: flex;
            height: 50px;
            align-items: center;
            justify-content: center;
            padding: 0 20px;
            position: relative;
            background-color: #fff;
            cursor: pointer;
            font-weight: 500;
            user-select: none;
            &::after {
                content:'';
                width: 50px;
                height: 50px;
                position: absolute;
                background-image: url(../images/common/arrow_select_box.svg);
                background-size: 14px;
                background-position: center center;
                background-repeat: no-repeat;
                right: 0;
                top: 0;
                opacity: 0.6;
                @at-root .sub_nav.on & {
                    transform: rotate(180deg);
                }
            }
        }
    }
}

.sub_wrap {
    position: relative;
    z-index: 99;
    background-color: #fff;
}




.sub_tit {
    text-align: center;
    padding: 100px 0;
    .tit {
        font-size: 50px;
        font-weight: bold; 
    }
    @include mobile { 
        padding: 30px 0;
        .tit {
            font-size: 26px;
        }
    }
}


.btn_area {
    text-align: center;
    .taC {
        text-align: center;
    }
    &.ty_bot {
        margin-top: 70px;
    }
}

.f_input {
    width: 100%;
    height: 60px;
    padding: 0 30px;
    border: 1px solid #d9d9d9;
    box-sizing: border-box;
    font-size: 18px;
    // &.readonly {
    //     background-color: #f6f7fa;
    //     color: #999;
    // }
}
.f_select {
    width: 100%;
    height: 60px;
    padding: 0 30px;
    padding-right: 60px;
    border: 1px solid #d9d9d9;
    box-sizing: border-box;
    font-size: 18px;
}
.f_textarea {
    width: 100%;
    height: 300px;
    padding: 19px 30px;
    border: 1px solid #d9d9d9;
    box-sizing: border-box;
    font-size: 18px;
    line-height: 1.5;
}
.f_btn {
    display: inline-block;
    vertical-align: top;
    text-align: center;
    max-width: 180px;
    width: 100%;
    padding: 0 20px;
    font-size: 18px;
    height: 60px;
    background-color: #555;
    border: 1px solid transparent;
    box-sizing: border-box;
    color: #fff;
    line-height: 58px;
    &.ty_big {
        max-width: 250px;
        height: 70px;
        line-height: 68px;
        font-size: 20px;
    }
    &.bg_blue {
        background-color: #1f2085;
        color: #fff;
    }
    &.bg_grey {
        background-color: #555;
        color: #fff;
    }
    &.line_blue {
        color: #222;
        background-color: #fff;
        border-color: #1f2085;
    }
    &.line_black {
        color: #222;
        background-color: #fff;
        border: 1px solid #222;
    }
}


.search_form {
    display: flex;
    padding: 20px;
    box-sizing: border-box;
    background-color: #f6f7fa;
    justify-content: center;
    margin-bottom: 70px;
    
    @include mobile { 
        margin-bottom: 40px;
        flex-wrap: wrap;
        padding: 15px;
    }

    & > * {
        height: 50px;
        @include mobile {
            height: 40px;
        }
    }
    &_select {
        width: 200px;
        flex-shrink: 0;
        box-sizing: border-box;
        border: 1px solid #bababa;
        padding: 0 20px;
        font-size: 18px;
        
        @include mobile {
            font-size: 14px;
            width: 100%;
            padding: 0 10px;
            margin-bottom: 10px;
        }
    }
    &_input {
        flex: 1;
        box-sizing: border-box;
        border: 1px solid #bababa;
        max-width: 540px;
        margin: 0 20px;
        padding: 0 20px;
        font-size: 18px;
        @include mobile {
            height: 40px;
            font-size: 14px;
            margin: 0;
            padding: 0 10px;
        } 
    }
    &_btn {
        width: 90px;
        flex-shrink: 0;
        box-sizing: border-box;
        background-color: $CBrand;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #fff;
        font-size: 18px;
        @include mobile {
            font-size: 14px;
            width: 70px;
            margin-left: 10px;
        }
        .ico_search {
            margin-right: 5px;
            width: 16px;
            height: 16px;
            background: url(../images/common/ico_search.svg) no-repeat center center;
            @include mobile {
                width: 14px;
                height: 14px;
                background-size: cover;
            }
        }
    }
    
}

.kic_list {
    border-top: 1px solid #222;
    border-bottom: 1px solid #222;
    font-size: 16px;
    line-height: 1.5;
    

    &_top {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        margin-bottom: 15px;
        @include mobile { 
            margin-bottom: 10px;
        }

    }
    &_total {
        font-size: 18px;
        line-height: 1.5;
        font-weight: bold;
        span {
            color: $CBrand;
        }
        @include mobile { 
            font-size: 14px;
        }
    }

    &_head {
        display: flex;
        border-bottom: 1px solid #222;
        align-items: center;
        padding: 10px 0;
        font-weight: 500;
        @at-root .kic_list & .col.tit {
            text-align: center;
            display: block;
        }
        @include mobile { 
            display: none;
        }
    }
   
    &_item {
        
        & + & {
            border-top: 1px solid #d9d9d9;
        }
        &.ty_notice {
            background-color: #f6f7fa;
            @include mobile {
                .col.tit {
                    width: calc(100% - 50px);
                }
                .col.num {
                    display: block;
                    width: auto;
                    line-height: 0;
                    margin-right: 5px;
                }
            }
           
        }
    }
    &_link {
        display: flex;
        
        padding: 10px 0;
        align-items: center;
        @include mobile { 
            padding: 10px;
            flex-wrap: wrap;
        }
    }
    .col {
        text-align: center;
        padding: 0 10px;
        @include mobile { 
            padding: 0;
        }
        &.tit {
            flex: 1;
            text-align: left;
            display: flex;
            align-items: center;
            line-height: 48px;
            min-width: 0;
            color: #222;
            @include mobile { 
                width: 100%;
                flex: auto;
                box-sizing: border-box;
                padding: 0;
                font-size: 14px;
                line-height: 24px;
                margin-right: 0;
                padding-right: 0;
                
            }
            .ico_attach {
                margin-left: 6px;
            }
            .txt {
                min-width: 0;
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
                
            }
        }
        &.num {
            width: 60px;
            @include mobile { 
                display: none;
            }
        }
        &.date {
            width: 100px;
            flex-shrink: 0;
        }
        &.view {
            width: 70px;
            flex-shrink: 0;
            
        }
        &.col_bot {
            @include mobile { 
                position: relative;
                width: auto;
                font-size: 13px;
                line-height: 1.6;
                color: #666;
                margin-top: 4px;
                &::after {
                    content:'';
                    display: inline-block;
                    vertical-align: top;
                    
                    width: 1px;
                    height: 12px;
                    background-color: #d9d9d9;
                    margin: 0 7px;
                    margin-top: 4px;

                }
                &:last-child::after {
                    display: none;
                }
            }
        }
    }
    .ico_notice {
        display: inline-block;
        line-height: 30px;
        padding: 0 10px;
        border-radius: 15px;
        background-color: $CBrand;
        color: #fff;
        font-size: 13px;
        font-weight: bold;
        font-style: normal;
        @include mobile {
            padding: 0 5px;
            line-height: 19px;
            font-size: 11px;
            font-weight: 500;
        }
    }
    .ico_attach {
        display: inline-block;
        width: 15px;
        height: 15px;
        flex-shrink: 0;
        background: url(../images/common/ico_file.svg) no-repeat center center;
    }
}

.paging {
    &_wrap {
        display: flex;
        margin-top: 60px;
        align-items: center;
        justify-content: center;
        text-align: center;
        @include mobile {
            margin-top: 40px;
        }
    }
    &_btn {
        display: block;
        width: 30px;
        height: 30px;
        box-sizing: border-box;
        line-height: 28px;
        font-size: 16px;
        color: #999;
        //font-family: 'Montserrat';
        margin: 0 2px;
        flex-shrink: 0;
        border: 1px solid transparent;
        @include mobile {
            width: 24px;
            height: 24px;
            font-size: 13px;
            line-height: 22px;
            margin: 0 1px;
        }
        &.current {
            border: 1px solid $CBrand;
            color: $CBrand;
            font-weight: bold;
        }
        background-repeat: no-repeat;
        background-position: center center;
        
        &.ty_first {
            background-image: url(../images/common/paging_first.svg);
        }
        &.ty_prev {
            background-image: url(../images/common/paging_prev.svg);
        }
        &.ty_next {
            background-image: url(../images/common/paging_next.svg);
        }
        &.ty_last {
            background-image: url(../images/common/paging_last.svg);
        }
    }
    &_list {
        display: flex;
        margin: 0 4px;
    }
}